<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qimu.mapper.BillMapper">
    <resultMap id="getBill" type="Bill">
        <id column="id" property="id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="productDesc" column="productDesc"/>
        <result property="productUnit" column="productUnit"/>
        <result property="productCount" column="productCount"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPayment" column="isPayment"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyBy" column="modifyBy"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="providerId" column="providerId"/>
    </resultMap>
    <!--List<Bill> dynamicGetAllBill(Bill bill);-->
    <select id="dynamicGetAllBill" resultMap="getBill">
        select * from smbms_bill
        <trim prefix="where" suffixOverrides="and">
            <if test="id !=null and id !=''">
                id=#{id} and
            </if>
            <if test="billCode!=null and billCode!=''">
                billCode=#{billCode} and
            </if>
            <if test="productName!=null and productName!=''">
                productName =#{productName} and
            </if>
            <if test="productDesc!=null and productDesc!=''">
                productDesc=#{productDesc} and
            </if>
            <if test="productUnit!=null and productUnit!=''">
                productUnit=#{productUnit} and
            </if>
            <if test="productCount!=null and productCount!=''">
                productCount=#{productCount} and
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                totalPrice=#{totalPrice} and
            </if>
            <if test="isPayment!=null and isPayment!=''">
                isPayment=#{isPayment} and
            </if>
            <if test="createdBy!=null and createdBy!=''">
                createdBy=#{createdBy} and
            </if>
            <if test="creationDate!=null and creationDate!=''">
                creationDate=#{creationDate} and
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy=#{modifyBy} and
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                modifyDate=#{modifyDate} and
            </if>
            <if test="providerId!=null and providerId!=''">
                providerId=#{providerId}
            </if>
        </trim>
    </select>
    <!-- Integer dynamicAddBill(Bill bill);-->
    <insert id="dynamicAddBill" useGeneratedKeys="true" keyProperty="id">
        insert into smbms_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id ,
            </if>
            <if test="billCode!=null and billCode!=''">
                billCode ,
            </if>
            <if test="productName!=null and productName!=''">
                productName ,
            </if>
            <if test="productDesc!=null and productDesc!=''">
                productDesc,
            </if>
            <if test="productUnit!=null and productUnit!=''">
                productUnit ,
            </if>
            <if test="productCount!=null and productCount!=''">
                productCount ,
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                totalPrice ,
            </if>
            <if test="isPayment!=null and isPayment!=''">
                isPayment ,
            </if>
            <if test="createdBy!=null and createdBy!=''">
                createdBy ,
            </if>
            <if test="creationDate!=null and creationDate!=''">
                creationDate ,
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy ,
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                modifyDate,
            </if>
            <if test="providerId!=null and providerId!=''">
                providerId,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id} ,
            </if>
            <if test="billCode!=null and billCode!=''">
                #{billCode} ,
            </if>
            <if test="productName!=null and productName!=''">
                #{productName} ,
            </if>
            <if test="productDesc!=null and productDesc!=''">
                #{productDesc} ,
            </if>
            <if test="productUnit!=null and productUnit!=''">
                #{productUnit} ,
            </if>
            <if test="productCount!=null and productCount!=''">
                #{productCount} ,
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                #{totalPrice} ,
            </if>
            <if test="isPayment!=null and isPayment!=''">
                #{isPayment} ,
            </if>
            <if test="createdBy!=null and createdBy!=''">
                #{createdBy} ,
            </if>
            <if test="creationDate!=null and creationDate!=''">
                #{creationDate} ,
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                #{modifyBy} ,
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                #{modifyDate} ,
            </if>
            <if test="providerId!=null and providerId!=''">
                #{providerId}
            </if>
        </trim>
    </insert>
    <!--Integer dynamicUpdateBillById(Bill bill);;-->
    <update id="dynamicUpdateBillById">
        update smbms_bill
        <set>
            <if test="id !=null and id !=''">
                id=#{id} ,
            </if>
            <if test="billCode!=null and billCode!=''">
                billCode=#{billCode} ,
            </if>
            <if test="productName!=null and productName!=''">
                productName =#{productName} ,
            </if>
            <if test="productDesc!=null and productDesc!=''">
                productDesc=#{productDesc} ,
            </if>
            <if test="productUnit!=null and productUnit!=''">
                productUnit=#{productUnit} ,
            </if>
            <if test="productCount!=null and productCount!=''">
                productCount=#{productCount} ,
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                totalPrice=#{totalPrice} ,
            </if>
            <if test="isPayment!=null and isPayment!=''">
                isPayment=#{isPayment} ,
            </if>
            <if test="createdBy!=null and createdBy!=''">
                createdBy=#{createdBy} ,
            </if>
            <if test="creationDate!=null and creationDate!=''">
                creationDate=#{creationDate} ,
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy=#{modifyBy} ,
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                modifyDate=#{modifyDate} ,
            </if>
            <if test="providerId!=null and providerId!=''">
                providerId=#{providerId}
            </if>
        </set>
        where id=#{id}
    </update>
    <!--Integer dynamicDeleteBillById(@Param("id") Integer[] id);-->
    <delete id="dynamicDeleteBillById">
        delete from smbms_bill where id in
        <foreach collection="id" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>