<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qimu.mapper.RoleMapper">
    <!-- List<Role> getAllRole(Role role);-->
    <select id="getAllRole" resultType="Role">
        select * from smbms_role
        <trim prefix="where" suffixOverrides="and">
            <if test="id !=null and id !=''">
                id=#{id} and
            </if>
            <if test="roleCode!=null and roleCode!=''">
                roleCode=#{roleCode} and
            </if>
            <if test="roleName!=null and roleName!=''">
                roleName =#{roleName} and
            </if>
            <if test="createdBy!=null and createdBy!=''">
                createdBy=#{createdBy} and
            </if>
            <if test="creationDate!=null and creationDate!=''">
                creationDate=#{creationDate} and
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy=#{modifyBy} and
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                modifyDate=#{modifyDate}
            </if>
        </trim>
    </select>

    <!--Integer dynamicAddRole(Role role);-->
    <insert id="dynamicAddRole" useGeneratedKeys="true" keyProperty="id">
        insert into smbms_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="roleCode!=null and roleCode!=''">
                roleCode,
            </if>
            <if test="roleName!=null and roleName!=''">
                roleName,
            </if>
            <if test="createdBy!=null and createdBy!=''">
                createdBy,
            </if>
            <if test="creationDate!=null and creationDate!=''">
                creationDate,
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy,
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                modifyDate
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="roleCode!=null and roleCode!=''">
                #{roleCode},
            </if>
            <if test="roleName!=null and roleName!=''">
                #{roleName},
            </if>
            <if test="createdBy!=null and createdBy!=''">
                #{createdBy},
            </if>
            <if test="creationDate!=null and creationDate!=''">
                #{creationDate},
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                #{modifyBy},
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                #{modifyDate}
            </if>
        </trim>
    </insert>

    <!--Integer dynamicUpdateRoleById(Role role);-->
    <update id="dynamicUpdateRoleById">
        update smbms_role
        <set>
            <if test="roleCode!=null and roleCode!=''">
                roleCode=#{roleCode},
            </if>
            <if test="roleName!=null and roleName!=''">
                roleName =#{roleName},
            </if>
            <if test="createdBy!=null and createdBy!=''">
                createdBy=#{createdBy},
            </if>
            <if test="creationDate!=null and creationDate!=''">
                creationDate=#{creationDate},
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                modifyBy=#{modifyBy},
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                modifyDate=#{modifyDate},
            </if>
        </set>
        where id=#{id}
    </update>
    <!--Integer dynamicDeleteRoleById(@Param("id") Integer[] id);-->
    <delete id="dynamicDeleteRoleById">
        delete from smbms_role where id in
        <foreach collection="id" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>